<div class="box">
    <div class="columns">
        <div class="column" style="display: flex; align-items: center;">
            <p>{{title}}</p>
        </div>
        <div class="column" style="text-align: right;">
            <a href="/dashboard/{{id}}" class="button is-primary">Edit</a>
        </div>
    </div>
</div>
