<div class="container is-max-desktop">
    <div class="columns">
        <div class="column">
            <h1 class="title is-1">Home</h1>
        </div>
    </div>
    <div class="columns is-multiline">
        {{#each posts}}
            <div class="column is-4">
                {{> blogItem}}
            </div>
        {{/each}}
    </div>
</div>